*{ 
	margin:0; 
	padding:0; 
}

body { 
	text-align: center; 
	background: #111; 
}

#wrapper{ 
	margin:0px auto; 
	width:700px; 
}

#content{ 
	position:relative; 
	width:700px; 
	height:300px; 
	top:30px; 
	overflow:hidden; 
	border:5px 
	solid #f5f5f5; 
	background: url('images/scene_bg.jpg'); 
}
	
#sun{ 
	position:relative; 
	top:200px; 
	right:80px; 
	background-color:#b0c4de;
	height:10px;
}